/*------------------------------------*\
    #Chip
\*------------------------------------*/


.chip {
  max-width: fit-content;
  display: flex;
  background: var(--color-neutral-white);
  color: var(--color-body-text);
  width: auto;
  height: auto;
  border-radius: 50%;
  padding: 2px;
  font-weight: 700;
  justify-content: center;
  border: solid 4px var(--color-brand-primary);
  align-items: center;
  .chip__spacer {
    padding-bottom: 100%;
  }
}
