/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

/**
 * PrimaryButton - for buttons or links that have functionality.
 */
.primary-button {
  max-width: fit-content;
  display: inline-block;
  border: var(--border-thickness) solid var(--color-brand-gold);
  background: var(--color-neutral-gray-93);
  color: var(--color-brand-gold);
  border-radius: var(--border-radius-xl);
  line-height: 1;
  padding: 1.4rem 2.6rem;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  text-align: center;
  transition: all var(--anim-fade-quick) var(--anim-ease);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
