.bet-position {
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 22px 0 10px;
  min-height: 130px;

  &__title {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 7px;
    letter-spacing: -0.5px;
  }
}
